<%- include('../partials/head') %>
<div class="container">

    <h1>Create a new account</h1>
    
    <form action="/auth/sign-up" method="POST">
        
        <label for="username">Username: </label>
        <input type="username" name="username">
        
        <label for="password">Password: </label>
        <input type="password" name="password">
        
        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" name="confirmPassword">
        
        <button type="submit" class="btn btn-primary">Sign up</button>
        
        <p><%= msg %></p>
    </form>
</div>


<%- include('../partials/footer') %>